
<!doctype html>

<html lang="en">

    <head>

        <title>Karsten Jakobsen Resumé/CV</title>

        <meta name="description" content="">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

         <!-- Google Font: Lato -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&amp;subset=latin,latin-ext " rel='stylesheet' type='text/css'>

        <!-- FontAwesome -->
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css ">

        <!-- Nivo Lightbox-->
        <link rel="stylesheet" href="/stylesheets/nivo-lightbox.css" />
        <link rel="stylesheet" href="/stylesheets/default.css" />

        <!-- Main CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">

        <!-- Themes -->
        <link rel="stylesheet" href="/stylesheets/themes.dark.css">

        <!-- jQuery -->
        <script src="/javascripts/jquery.min.js"></script>

        <!-- dense.js (Retina plugin) -->
        <script src="/javascripts/dense.js"></script>

        <!-- Nivo Lightbox -->
        <script src="/javascripts/nivo-lightbox.min.js"></script>

        <!-- Main JS -->
        <script src="/javascripts/main.js"></script>

        <!-- ScrollReveal -->
        <script src="/javascripts/scrollreveal.min.js"></script>


        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    </head>

  <body>
    <%= yield %>
  </body>

  <script src="/javascripts/index_bundle.js"></script>

</html>
