---
title: Karsten Jakobsen Resumé/CV
---

<div id="app"></div>

<div class="c-preloader  js-preloader">
    <div class="c-preloader__spinner  t-preloader__spinner"></div>
</div>

<div class="c-main-container  js-main-container">

    <!-- ################################ -->
    <!-- ############ HEADER ############ -->
    <!-- ################################ -->

    <section class="o-section o-section--header  t-section  t-section--header">
        <div class="c-header">

            <div class="o-section__header-bg  t-section__header"></div>
            <div class="o-section__content-bg  t-section__content"></div>

            <div class="o-container">
                <div class="o-section__container">

                    <header class="o-section__header  c-header__header  t-section__header">
                        <div class="c-header__inner-header">

                            <div class="c-header__avatar">
                                <div class="a-header  c-avatar">
                                    <img class="c-avatar__img" src="/images/karstenjakobsen-bw.png" alt="">
                                </div><!-- /c-avatar -->
                            </div><!-- /c-header-avatar -->

                        </div><!-- /c-header__inner-header -->
                    </header><!-- /o-section__header -->

                    <div class="o-section__content  c-header__content  t-section__content">
                        <div class="c-header__inner-content">

                            <div class="c-header__top">

                                <div class="c-header__brand">

                                    <div class="c-brand">
                                        <h1 class="c-brand__title  t-title">
                                                <span class="c-brand__sizer">
                                                    <span class="a-header  c-brand__first-word  t-title__first-word">
                                                        Karsten
                                                    </span>
                                                    <span class="a-header  c-brand__second-word  t-title__second-word">
                                                        Jakobsen
                                                    </span>
                                                </span>
                                        </h1>
                                        <h2 class="a-header  c-brand__sub-title  t-sub-title">
                                                <span class="c-brand__sizer">
                                                    Backendudvikler &amp; Systemarkitekt
                                                </span>
                                        </h2>
                                    </div><!-- /c-brand -->

                                </div><!-- /c-header__brand -->

                                <ul class="c-header__social-buttons  c-social-buttons">
                                    <li class="a-header">
                                        <a href="https://www.facebook.com/kallekaj" target="_blank" class="c-social-button  t-social-button">
                                            <i class="fa  fa-lg  fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="a-header">
                                        <a href="https://github.com/karstenjakobsen" target="_blank" class="c-social-button  t-social-button">
                                            <i class="fa  fa-lg  fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="a-header">
                                        <a href="https://www.linkedin.com/in/karstenkallejakobsen" target="_blank" class="c-social-button  t-social-button">
                                            <i class="fa  fa-lg  fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul><!-- /c-header__social-buttons -->

                            </div><!-- /c-header__top -->

                            <div class="c-header__contact">

                                <hr class="a-header  c-header__contact-divider" />

                                <div class="o-grid">

                                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                        <div class="a-header  o-content">
                                            <div class="o-content__body">
                                                <h4>Adresse</h4>
                                                <address>
                                                    Kogsbølle, Fyn
                                                </address>
                                            </div>
                                        </div><!-- /o-content -->
                                    </div><!-- /o-grid__col -->

                                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                        <div class="a-header  o-content">
                                            <div class="o-content__body">
                                                <h4>Telefon</h4>
                                                <p>
                                                    +45 31 71 29 29
                                                </p>
                                            </div>
                                        </div><!-- /o-content -->
                                    </div><!-- /o-grid__col -->

                                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                        <div class="a-header  o-content">
                                            <div class="o-content__body">
                                                <a href="#" target="_blank" class="t-link-container">
                                                    <h4>Web</h4>
                                                    <p>
                                                        <span class="t-link-container__item--blended">
                                                            karstenjakobsen.dk
                                                        </span>
                                                    </p>
                                                </a><!-- /o-link-container -->
                                            </div>
                                        </div><!-- /o-content -->
                                    </div><!-- /o-grid__col -->

                                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                        <div class="a-header  o-content">
                                            <div class="o-content__body">
                                                <a href="#" target="_blank" class="t-link-container">
                                                    <h4>Email</h4>
                                                    <p>
                                                        <span class="t-link-container__item--blended">
                                                            karsten@karstenjakobsen.dk
                                                        </span>
                                                    </p>
                                                </a><!-- /o-link-container -->
                                            </div>
                                        </div><!-- /o-content -->
                                    </div><!-- /o-grid__col -->

                                </div><!-- /o-grid -->
                            </div><!-- /c-header__contact -->

                        </div><!-- /c-header__inner-content -->
                    </div><!-- /o-section__content -->

                </div><!-- /o-section__container -->

            </div><!-- /o-container -->

        </div><!-- /c-header -->
    </section><!-- /o-section -->



    <!-- ################################ -->
    <!-- ############ INTRO ############# -->
    <!-- ################################ -->

    <% data.contentful.profile.each do |elem| %>
    <% p = elem[1] %>

    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            <%= p.title %>
                        </h2>
                        <div class="o-content__body  o-section__description">
                            <%= p.header %>
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <div class="o-content">
                        <div class="c-intro">
                            <div class="o-content__body">
                                <%= p.description %>
                            </div>
                        </div>
                    </div>

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->

     <% end %>

    <!-- ################################ -->
    <!-- ########## EKSPERTISE ########### -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Ekspertise
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Områder jeg arbejder med
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <div class="o-grid">

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        01
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Sprog</h3>
                                    <p>
                                        PHP, NodeJs, Ruby on Rails, C#, Java, SQL, Javascript, HTML5, JQuery
                                    </p>
                                </div>
                            </div><!-- /o-media o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        02
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Operativsystemer</h3>
                                    <p>
                                        Debian, Ubuntu, CentOS, Microsoft Windows
                                    </p>
                                </div>
                            </div><!-- /o-media o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        03
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Databaser</h3>
                                    <p>
                                        Analyse med henblik på valg af databasetype inden for relationelle og NoSQL databaser:
                                        MySQL, PostgreSQL, MongoDB, Redis og Neo4j. Brug af relationel algebra til at forstå optimeringsmuligheder.
                                        Gennemføre optimeringer af f.eks indekser og eksekveringsplaner.
                                    </p>
                                </div>
                            </div><!-- /o-media o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        04
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Objektorienteret design</h3>
                                    <p>
                                        • anvende et objektrelationelt mapningsværktøj
                                        Objektorienteret design design patterns gør mig glad! Pricipper som SOLID og OOAD/OOP
                                    </p>
                                </div>
                            </div><!-- /o-media o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        05
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Systemintegration</h3>
                                    <p>

                                    </p>
                                </div>
                            </div><!-- /o-media o-content -->
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        06
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>Software</h3>
                                    <p>
                                        OpenSER (Kamailio), Webmin, RTPProxy, Asterisk, Apache Web Server, VMware ESX / ESXi 3.5, VMWare vCenter Server, Bacula 3.x, Zabbix 1.8.x
                                    </p>
                                </div>
                            </div><!-- /o-media o-content -->
                        </div><!-- /o-grid__col -->

                    </div><!-- /o-grid -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->



    <!-- ################################ -->
    <!-- ############ SKILLS ############ -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Kvalifikationer
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Tekniske kvalifikationer
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <div class="o-grid">

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            65<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Front-end</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="65"></div>
                                </div>
                            </div>
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            95<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Back-end SOLID, OOAD/OOP</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="95"></div>
                                </div>
                            </div>
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            80<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Git</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                                </div>
                            </div>
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            95<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>SIP / VoIP platforme</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="95"></div>
                                </div>
                            </div>
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            80<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Linux OS</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                                </div>
                            </div>
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            50<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>Adobe Creative Cloud</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="50"></div>
                                </div>
                            </div>
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            85<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>RESTful principper</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="85"></div>
                                </div>
                            </div>
                        </div><!-- /o-grid__col -->

                        <div class="o-grid__col-sm-6">
                            <div class="o-content">
                                <div class="o-media  o-media--block">
                                    <div class="o-media__figure">
                                        <div class="c-number  t-primary-color">
                                            80<small>%</small>
                                        </div>
                                    </div>
                                    <div class="o-media__body">
                                        <h3>NoSQL</h3>
                                    </div>
                                </div>
                                <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                                </div>
                            </div>
                        </div><!-- /o-grid__col -->

                    </div><!-- /o-grid -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->



    <!-- ################################ -->
    <!-- ########## EXPERIENCE ########## -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Erfaring
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Hvor har jeg været?
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  u-pb-0">

                    <div class="a-experience-timeline  c-timeline  t-border-color">

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2005 &ndash; I dag
                                        </div>
                                        <h3 class="c-work__heading">
                                            evercall ApS
                                        </h3>
                                        <h4 class="c-work__title">
                                            Systemudvikler og arkitekt
                                        </h4>
                                        <div class="c-work__location">
                                            Odense, Fyn
                                        </div>
                                    </div>
                                    <div class="o-grid__col-md-7">
                                        <p>
                                            Fastansat hos evercall ApS. Systemarkitekt og udvikler af projekter indenfor billing, VoIP, MVoIP, VoLTE, mobiltelefoni og IT drift.
                                        </p>
                                    </div>
                                </div><!-- /o-grid -->
                            </div><!-- /o-content -->
                        </div><!-- /c-timeline__item -->

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2011 &ndash; I dag
                                        </div>
                                        <h3 class="c-work__heading">
                                            Future Banana
                                        </h3>
                                        <h4 class="c-work__title">
                                            Selvstændig IT konsulent
                                        </h4>
                                        <div class="c-work__location">
                                            Odense, Fyn
                                        </div>
                                    </div>
                                    <div class="o-grid__col-md-7">
                                        <p>
                                            Selvejet virksomhed med opgaver inden for rådgiving, udvikling og implementering af IT systemer hos forskellige kunder.
                                        </p>
                                    </div>
                                </div><!-- /o-grid -->
                            </div><!-- /o-content -->
                        </div><!-- /c-timeline__item -->

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2001 &ndash; 2002
                                        </div>
                                        <h3 class="c-work__heading">
                                            Berlingske Tidende
                                        </h3>
                                        <h4 class="c-work__title">
                                            Telemarketingkonsulent
                                        </h4>
                                        <div class="c-work__location">
                                            Odense, Fyn
                                        </div>
                                    </div>
                                    <div class="o-grid__col-md-7">
                                        <p>
                                            Deltidsjob som telemarketingkonsulent hos Berlingske Tidende i Odense
                                        </p>
                                    </div>
                                </div><!-- /o-grid -->
                            </div><!-- /o-content -->
                        </div><!-- /c-timeline__item -->

                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            2001 &ndash; 2003
                                        </div>
                                        <h3 class="c-work__heading">
                                            Ingram Micro A/S
                                        </h3>
                                        <h4 class="c-work__title">
                                            Konfigurationstekniker
                                        </h4>
                                        <div class="c-work__location">
                                            Greve, Sjælland
                                        </div>
                                    </div>
                                    <div class="o-grid__col-md-7">
                                        <p>
                                            Fuldtidsjob som konfigurationstekniker mellem studier hos Ingram Micro A/S i Greve. Konfigurationsafdelingen klargører store antal af PC'ere til store eller mellemstore virksomheder.
                                        </p>
                                    </div>
                                </div><!-- /o-grid -->
                            </div><!-- /o-content -->
                        </div><!-- /c-timeline__item -->

                    </div><!-- /c-timeline -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->



    <!-- ################################ -->
    <!-- ########### EDUCATION ########## -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Uddannelse
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Relevant info
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  u-pt-0">

                    <div class="o-content">
                        <div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space">
                            <div class="c-timeline__end  t-border-color"></div>

                            <div class="c-timeline__item">
                                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                                <div class="o-content">
                                    <div class="o-grid">
                                        <div class="o-grid__col-md-5">
                                            <div class="c-work__timeframe">
                                                2014 &ndash; 2017
                                            </div>
                                            <h3 class="c-work__heading">
                                                Erhvervsakademiet Lillebælt
                                            </h3>
                                            <h4 class="c-work__title">
                                                Pba. i softwareudvikling
                                            </h4>
                                            <div class="c-work__location">
                                                Odense, Fyn
                                            </div>
                                        </div>
                                        <div class="o-grid__col-md-7">
                                            <p>
                                                Fag: Udvikling af store systemer, Systemintegration, Test, Databaser for udviklere, IT-projektledelse samt et afsluttende diplomprojekt. Fokus på design og konstruktion af store, datatunge, distribuerede IT-systemer.
                                            </p>
                                        </div>
                                    </div><!-- /o-grid -->
                                </div><!-- /o-content -->
                            </div><!-- /c-timeline__item -->

                            <div class="c-timeline__item">
                                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                                <div class="o-content">
                                    <div class="o-grid">
                                        <div class="o-grid__col-md-5">
                                            <div class="c-work__timeframe">
                                                2003 &ndash; 2008
                                            </div>
                                            <h3 class="c-work__heading">
                                                TEC Ballerup
                                            </h3>
                                            <h4 class="c-work__title">
                                                Datatekniker
                                            </h4>
                                            <div class="c-work__location">
                                                Ballerup, Sjælland
                                            </div>
                                        </div>
                                        <div class="o-grid__col-md-7">
                                            <p>
                                                Specialisering i C# udvikling (Microsoft .NET) og SIP/VoIP. Bestået med karakteren 12 og indstillet til 'Lærlingenes LM pris'
                                            </p>
                                        </div>
                                    </div><!-- /o-grid -->
                                </div><!-- /o-content -->
                            </div><!-- /c-timeline__item -->

                            <div class="c-timeline__item">
                                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                                <div class="o-content">
                                    <div class="o-grid">
                                        <div class="o-grid__col-md-5">
                                            <div class="c-work__timeframe">
                                                1999 &ndash; 2000
                                            </div>
                                            <h3 class="c-work__heading">
                                                Køge Handelsskole
                                            </h3>
                                            <h4 class="c-work__title">
                                                HHX Handelseksamen
                                            </h4>
                                            <div class="c-work__location">
                                                Køge, Sjælland
                                            </div>
                                        </div>
                                        <div class="o-grid__col-md-7">
                                            <p>
                                                Erhvervsøkonomi: A niveau, Afsætning: A niveau.
                                            </p>
                                        </div>
                                    </div><!-- /o-grid -->
                                </div><!-- /o-content -->
                            </div><!-- /c-timeline__item -->

                            <div class="c-timeline__item">
                                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                                <div class="o-content">
                                    <div class="o-grid">
                                        <div class="o-grid__col-md-5">
                                            <div class="c-work__timeframe">
                                                1996 &ndash; 1999
                                            </div>
                                            <h3 class="c-work__heading">
                                                Greve Gymnasium
                                            </h3>
                                            <h4 class="c-work__title">
                                                Matematisk student
                                            </h4>
                                            <div class="c-work__location">
                                                Greve, Sjælland
                                            </div>
                                        </div>
                                        <div class="o-grid__col-md-7">
                                            <p>
                                                Matematik: A niveau, Kemi: A niveau.
                                            </p>
                                        </div>
                                    </div><!-- /o-grid -->
                                </div><!-- /o-content -->
                            </div><!-- /c-timeline__item -->

                        </div><!-- /c-timeline -->
                    </div><!-- /o-content -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->

    <!-- ################################ -->
    <!-- ############ FOOTER ############ -->
    <!-- ################################ -->

    <section class="o-section  t-section  o-section--footer">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Kontakt
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Giv mig et kald!
                        </div>
                    </div>
                </header><!-- /o-section__header -->

                <div class="o-section__content  t-section__content  ">

                    <div class="c-footer__contact">
                        <div class="o-grid">

                            <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-content__body">
                                        <h4>Adresse</h4>
                                        <address>
                                            Kogsbølle, Fyn
                                        </address>
                                    </div>
                                </div><!-- /o-content -->
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-content__body">
                                        <h4>Telefon</h4>
                                        <p>
                                            +45 31 71 29 29
                                        </p>
                                    </div>
                                </div><!-- /o-content -->
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-content__body">
                                        <a href="#" target="_blank" class="t-link-container">
                                            <h4>Web</h4>
                                            <p>
                                                    <span class="t-link-container__item--blended">
                                                        karstenjakobsen.dk
                                                    </span>
                                            </p>
                                        </a><!-- /o-link-container -->
                                    </div>
                                </div><!-- /o-content -->
                            </div><!-- /o-grid__col -->

                            <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                <div class="o-content">
                                    <div class="o-content__body">
                                        <a href="#" target="_blank" class="t-link-container">
                                            <h4>Email</h4>
                                            <p>
                                                    <span class="t-link-container__item--blended">
                                                        karsten@karstenjakobsen.dk
                                                    </span>
                                            </p>
                                        </a><!-- /o-link-container -->
                                    </div>
                                </div><!-- /o-content -->
                            </div><!-- /o-grid__col -->

                        </div><!-- /o-grid -->
                    </div><!-- /c-footer__contact -->

                    <hr class="c-footer__contact-divider" />

                    <div class="o-content">
                        <div class="c-footer__bottom">
                            <div class="c-footer__brand">

                                <div class="c-brand">
                                    <div class="o-content__body">
                                        <h1 class="c-brand__title  t-title">
                                                    <span class="c-brand__sizer  c-brand__sizer--sm">
                                                        <span class="a-footer  c-brand__first-word  t-title__first-word">
                                                            Karsten
                                                        </span>
                                                        <span class="a-footer  c-brand__second-word  t-title__second-word">
                                                            Jakobsen
                                                        </span>
                                                    </span>
                                        </h1>
                                    </div><!-- /o-content__body -->
                                </div><!-- /c-brand -->

                            </div><!-- /c-footer__brand -->

                            <ul class="c-footer__social-buttons  c-social-buttons  o-content__body">
                                <li class="a-footer">
                                    <a href="https://www.facebook.com/kallekaj" target="_blank" class="c-social-button  t-social-button">
                                        <i class="fa  fa-lg  fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="a-footer">
                                    <a href="https://github.com/karstenjakobsen" target="_blank" class="c-social-button  t-social-button">
                                        <i class="fa  fa-lg  fa-github"></i>
                                    </a>
                                </li>
                                <li class="a-footer">
                                    <a href="https://www.linkedin.com/in/karstenkallejakobsen" target="_blank" class="c-social-button  t-social-button">
                                        <i class="fa  fa-lg  fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul><!-- /c-footer__social-buttons -->

                        </div><!-- /c-footer__bottom -->
                    </div><!-- /o-content -->

                </div><!-- /o-section__content -->

            </div><!-- /o-section__container -->
        </div><!-- /o-container -->

    </section><!-- /o-section -->



</div><!-- /c-main-container -->
